@font-face {
	font-family: 'Rubik Bold';
	src: url('../fonts/Rubik-bold/Rubik-Bold.eot');
	src: url('../fonts/Rubik-bold/?#iefix') format('embedded-opentype'),
		url('../fonts/Rubik-bold/Rubik-Bold.woff') format('woff'),
		url('../fonts/Rubik-bold/Rubik-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik Regular';
	src: url('../fonts/Rubik-regular/Rubik-Regular.eot');
	src: url('../fonts/Rubik-regular/?#iefix') format('embedded-opentype'),
		url('../fonts/Rubik-regular/Rubik-Regular.woff') format('woff'),
		url('../fonts/Rubik-regular/Rubik-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}