@font-face {
	font-family: 'Bebas Neue Bold';
	src: url('../fonts/Bebas-Neue-bold/BebasNeueBold.eot');
	src: url('../fonts/Bebas-Neue-bold/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Bebas-Neue-bold/BebasNeueBold.woff') format('woff'),
		url('../fonts/Bebas-Neue-bold/BebasNeueBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Regular';
	src: url('../fonts/Gilroy-regular/Gilroy-Regular.eot');
	src: url('../fonts/Gilroy-regular/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy-regular/Gilroy-Regular.woff') format('woff'),
		url('../fonts/Gilroy-regular/Gilroy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue Book';
	src: url('../fonts/Bebas-Neue-book/BebasNeueBook.eot');
	src: url('../fonts/Bebas-Neue-book/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Bebas-Neue-book/BebasNeueBook.woff') format('woff'),
		url('../fonts/Bebas-Neue-book/BebasNeueBook.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue Regular';
	src: url('../fonts/Bebas-Neue-regular/BebasNeueRegular.eot');
	src: url('../fonts/Bebas-Neue-regular/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Bebas-Neue-regular/BebasNeueRegular.woff') format('woff'),
		url('../fonts/Bebas-Neue-regular/BebasNeueRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Bold';
	src: url('../fonts/Gilroy-bold/Gilroy-Bold.eot');
	src: url('../fonts/Gilroy-bold/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy-bold/Gilroy-Bold.woff') format('woff'),
		url('../fonts/Gilroy-bold/Gilroy-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Regular';
	src: url('../fonts/Roboto-regular/Roboto-Regular.eot');
	src: url('../fonts/Roboto-regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-regular/Roboto-Regular.woff') format('woff'),
		url('../fonts/Roboto-regular/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}